.banner_index {
    position: relative;
    width: 100%;
}
.banner_index .banner_post {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 500px;
    width: 100%;
    padding-bottom: 300px;
}

.banner_index .banner_inner {
    width: 1280px;
    padding-left: 10px;
    box-sizing: border-box;
}
.banner_index .banner_title {
    position: absolute;
    font-size: 70px;
    height: 44px;
    line-height: 44px;
    margin-top: 150px;
    margin-left: 200px;
    text-align: center;
    /*text-shadow: 0 2px 6px rgb(0 0 0 / 10%);*/
    text-shadow: 4px 4px 4px #262626;
    color: #fff;
}
.banner_index .banner_desc img{
    position: relative;
    display: block;
    width: 600px;
    height: 250px;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}