@font-face{
    font-family: 'Genshin';
    src: url('../fonts/HYWenHei.ttf');
}

html {
  height: 100%;
}


body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
}

.footer-distributed{
  position:absolute;

  overflow:hidden;
}

#footer-registration{
  top:450px;
}

#footer-login{
  top:518px;
}

#login-header{
  font-size: 16px;
  color:#fff;
}
#main-holder {
  font-family:'Genshin',sans-serif;
  position:absolute;
  top:15%;
  width: 300px;
  height: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.86);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  font-size:10px;
  display: block;
}

#login-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

#forgetpass{
  font-size:10px;
  text-decoration: underline;
  text-align: right;
  color: #ffae00;
}

.login-form-field::placeholder {
  font-family:'Genshin',sans-serif;
  color: #3a3a3a;
}

.login-form-field {
  width: 100%;
  background:#fff;
  border: 1px solid #fff;
  margin: 6px 0;
  border-radius: 20px;
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  color: black;
}

#login-form-submit {
  font-family:'Genshin',sans-serif;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: #ffae00;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#link-signup{
  font-size:12px;
  text-decoration: underline;
  text-align: right;
  color: #ffae00;
}

/* ========== SIGNUP CSS ==========  */
#signup-header{
  font-size: 16px;
  color:#fff;
}
#signup-holder {
  font-family:'Genshin',sans-serif;
  position:absolute;
  top:15%;
  width: 300px;
  height: 300px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.86);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

#signup-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}


.signup-form-field::placeholder {
  font-family:'Genshin',sans-serif;
  color: #3a3a3a;
}

.signup-form-field {
  width: 100%;
  background:#fff;
  border: 1px solid #fff;
  margin: 6px 0;
  border-radius: 20px;
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  color:#fff
}

#signup-form-submit {
  font-family:'Genshin',sans-serif;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: #ffae00;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}

#link-login{
  font-size:12px;
  text-decoration: underline;
  text-align: right;
  color: #ffae00;
}
/* ========== FEEDBACK CSS ==========  */
.banner{
  background: url(../images/developerPic2.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#feedback-header{
  text-align:center;
  font-size: 16px;
  color:#fff;
}

#feedback-holder {
  font-family:'Genshin',sans-serif;
  position:absolute;
  top:15%;
  width: 500px;
  height: 500px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.86);
  border-radius: 7px;
  box-shadow: 0px 0px 5px 2px black;
}

.feedback-form-field::placeholder {
  text-align: left;
  font-family:'Genshin',sans-serif;
  color: #3a3a3a;
}

.feedback-form-field {
  width: 350px;
  background:#fff;
  border: 1px solid #fff;
  margin: 6px 0;
  border-radius: 20px;
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
  text-align: center;
  color:#fff
}
#feedback-form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}
#message-field{
  height: 250px;
}
#feedback-form-submit {
  font-family:'Genshin',sans-serif;
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: #ffae00;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}
#footer-feedback{
  top:800px;
}
/* ========== FEEDBACK MENU CSS ==========  */
#feedbackmenu-header{
  font-family: 'Genshin',sans-serif;
  font-size: 25px;
  color:#fff;
}
table{
  width:60%;
  border-collapse: collapse;
  background:rgb(34,34,34);

  color:#fff;
}

table, th, td {
  border: 1px solid black;
  padding: 10px 20px;
}
th{
  text-align: center;
}
#loadmore{
  font-family:'Genshin',sans-serif;
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: #ffae00;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}
#footer-feedbackmenu{
  top:1300px;
}