@font-face{
    font-family: 'Genshin';
    src: url('../fonts/HYWenHei.ttf')
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}
.btn{
  background: #efeae2;
  width: 100%;
  padding: 10px 30px;
  color: #262626;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.btn:hover{
    letter-spacing: .2rem;
}

/* -- Header banner sections -- */

.banner_index {
    position: relative;
    width: 100%;
}
.banner_index .banner_post {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 500px;
    width: 100%;
    padding-bottom: 300px;
}

.banner_index .banner_inner {
    width: 1280px;
    padding-left: 10px;
    box-sizing: border-box;
}
.banner_index .banner_title {
    position: relative;
    display: block;
    text-align: center;
    font-size: 70px;
    height: 100%;
    margin-top: 300px;
    /*margin-left: 200px;*/
    /*text-shadow: 0 2px 6px rgb(0 0 0 / 10%);*/
    text-shadow: 4px 4px 4px #262626;
    color: #fff;
}
.banner_index .banner_desc img{
    position: relative;
    display: block;
    width: 600px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}
.banner .banz h1{
    position: relative;
    padding-top: 200px;
    font-family: 'Genshin', sans-serif;
    font-size: 90px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #262626;
    color: #fff;
}
.banner .banz p{
    position: relative;
    padding-top: 20px;
    font-family: 'Genshin', sans-serif;
    font-size: 20px;
    text-align: center;
    text-shadow: 4px 4px 4px #262626;
    color: #fff;
}

.feedbtn{
  position: relative;
  background: #262626;
  width: 100%;
  padding: 10px 30px;
  top: 30px;
  left: 570px;
  color: #ffc000;
  font-weight: 500;
  font-family: 'Genshin', sans-serif;
  text-decoration: none;
  border-radius: 2px;
}


/* -- Recommended Sections -- */
.recco_index{
    position: relative;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
}
.recco_index .bode {
    position: relative;
    width: 1280px;
    left: 50%;
    margin-left: -640px;
    min-height: 1240px;
    padding-bottom: 208px;
}
.recco_index .bode .recommend {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    width: 100%;
    height: 700px;
    list-style-type: none;
}
.recco_index .bode h4{
    padding-top: 15px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 4px #262626;
    transition: all 0.5s 0s ease;
}
.recco_index .bode .recommend__item {
    position: relative;
    width: 420px;
    height: 450px;
    background-color: rgba(18,18,18,0.8);
    box-shadow: 0px 3px 7px 0px rgb(0 0 0 / 35%);
    border-radius: 4px;
    opacity: 0.9;
}
.recco_index .bode .ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}
a{
    text-decoration: none;
}
.recco_index .bode .recommend__imgwrap {
    width: 380px;
    height: 190px;
    margin: 20px auto;
    overflow: hidden;
}
.recco_index .bode .recommend__item img {
    transition: all 0.5s 0s ease;
    margin-left: 10px;
}
.recco_index .bode .recommend__img {
    width: 100%;
    height: 100%;
}
.coverFit {
    object-fit: cover;
}
.recco_index .bode .recommend__title {
    font-size: 24px;
    font-weight: medium;
    font-stretch: normal;
    font-family: 'Outfit', sans-serif;
    line-height: 34px;
    color: #fefefe;
    padding: 0 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 70px;
    margin: 10px;
}
.recco_index .bode .recommend__summary {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    line-height: 22px;
    color: #fff;
    padding: 0 17px;
    max-height: 88px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    margin: 0px 0px 0px 10px;
}
.recco_index .bode .recommend__meta {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 15px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}
.recco_index .bode .recommend__date {
    display: inline-block;
    color: #808080;
}
.recco_index .bode .recommend__category, .recco_index .bode .recommend__date {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    line-height: 22px;
}
.recco_index .bode .news__cate-2 {
    color: #ffc000;
}
.recco_index .bode .recommend__category {
    text-decoration: none;
}
/* -- Recommended End -- */